{% block layout_header_top_bar %}
    <div id="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>Kostenloser Versand</p>
            </div>
            <div class="col-md-3">
                <p>24/7 Kundensupport</p>
            </div>
            <div class="col-md-3">
                <p>Riesige Produktauswahl</p>
            </div>
            <div class="col-md-3">
                <p>100% Zufriedenheitsgarantie</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
